*,
*::before,
*::after {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid red;
} */

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

h2,
h3 {
  color: #3674b5;
}

footer {
  padding: 20px;
  color: white;
  background-color: #3674b5;
  text-align: center;
  font-weight: bold;
}

.card {
  border-radius: 5px;
  scroll-margin-top: 5rem;
  padding: 1rem;
}

.intro-card {
  height: 550px;
  scroll-margin-top: 9rem;
}

#contact-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

#intro {
  display: flex;
  gap: 50px;
  font-weight: lighter;
  font-size: medium;
  flex-direction: row;
  align-items: center;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 99px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: white;
  background-color: #3674b5;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #132f4c;
  color: white;
}

.profile-image {
  flex: 1;
  max-width: 400px;
  max-height: 400px;
  border-radius: 9999px;
  align-items: center;
}

.right {
  flex: 3;
  flex-direction: column;
  align-self: center;
}

#intro p {
  text-align: left;
  font-weight: 500;
  align-items: center;
  margin-bottom: 2rem;
}

#intro h1 {
  font-weight: bold;
  color: #3674b5;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

#content h2 {
  text-decoration: underline;
  margin-bottom: 0px;
}

#education.card {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

#content h3,
#content h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#content h4 {
  margin-top: 1.5rem;
  margin-bottom: 0px;
}

#education p {
  margin-top: 0px;
  margin-bottom: 5px;
}

#certification li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#certification-name {
  flex: 1;
}

#certification ol {
  padding: 0px;
}

#stack {
  display: flex;
  flex-direction: column;
}

#stack ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: row;
}

#stack li {
  display: flex;
  flex: 1 1 50%;
  min-width: 200px;
  align-items: center;
  gap: 1rem;
}

#stack img {
  max-width: 45px;
}

#stack p {
  margin-top: 5px;
}

main {
  margin-top: 6rem;
  flex: 1;
  width: 100%;
  margin-inline: auto;
  padding: 3rem 8rem;

  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

#content {
  display: flex;
  gap: 0rem;
  flex-direction: column;
}

#intro-content {
  display: flex;
}

#etc-content {
  display: flex;
  flex: 5;
  flex-direction: row;
}

aside {
  flex: 1; /* Sidebar lebih kecil */
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
}

header.navbar-container {
  width: 100%;
  padding-block: 1rem;
  margin-inline: auto;
  background-color: #3674b5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 9999;
}

header.navbar-container .logo h2 {
  color: white;
}

header.navbar-container .logo a {
  text-decoration: none;
}

header.navbar-container .nav-list ul {
  padding-left: 0;

  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 9px;

  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: white;

  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #578fca;
  color: white;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
    margin-top: 9rem;
    padding: 2rem;
  }

  .card {
    scroll-margin-top: 10rem;
  }

  .intro-card {
    height: fit-content;
    scroll-margin-top: 10rem;
    padding: 1rem;
    align-items: center;
  }

  #etc-content {
    display: flex;
    flex-direction: column;
  }
  main aside {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
  }

  #intro {
    display: flex;
    font-weight: lighter;
    font-size: medium;
    flex-direction: column;
    gap: 0rem;
  }

  #intro img {
    flex: 1;
    max-width: 300px;
    max-height: 300px;
    align-self: center;
  }

  #intro p {
    text-align: center;
  }

  .right {
    flex-direction: column;
    align-self: center;
    text-align: center;
  }

  .profile-image {
    width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
  }

  #intro p {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  header.navbar-container {
    flex-flow: column;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 1rem;
  }

  .nav-list {
    display: none;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #3674b5;
    text-align: center;
    flex-direction: column;
    gap: 0;
  }

  .nav-list ul {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .nav-list li {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
  }

  .nav-list li a {
    display: block;
    width: 100%;
  }

  .nav-list.show {
    display: flex;
  }
  .content-wrapper {
    flex-direction: column;
  }

  aside {
    align-self: stretch;
  }

  #intro {
    align-self: center;
  }

  .card {
    scroll-margin-top: 7rem;
  }

  .profile-image {
    width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
  }

  #intro p {
    margin-bottom: 30px;
    font-size: 14px;
  }
}
